/*! Dashboard Style */

/*! normalize */
body{
	font-size: 14px;
}
a{
	color: #16a085;
}
a:hover, a:focus{
	color: #1abc9c;
    text-decoration: none; 
}
span.disabled{
    color: #aaaaaa;
    cursor: not-allowed;
}

.float-left{
	float: left;
}
.float-right{
    float: right;
}

.w200{
    width: 200px;
}

.w300{
    width: 300px;
}

.w400{
    width: 400px;
}

.w600{
    width: 600px;
}

.w800{
    width: 800px;
}

/*! reset bootstrap style */
.form-control{
    border-width: 1px;
    box-shadow: none;
}

.form-control:focus{
    border-color: #1abc9c;
    box-shadow: none;
}

.pagination > li > a, .pagination > li > span{
    color: #16a085;
}

.pagination > li > a:hover, .pagination > li > span:hover{
    color: #1abc9c;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #16a085;
}

    /*! site style */

/* header */
.topbar{
	background: #16a085 none repeat scroll 0 0;
    clear: both;
    font-size: 12px;
    height: 50px;
    position: relative;
}

.topbar a{
    color: #ffffff;
}

.topbar .logo{
	background: #1a8671 none repeat scroll 0 0;
	color: #fff;
    display: block;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

.topbar .topbar-btn{
	border-right: 1px solid #1a8671;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
}

.topbar .login-out{
    font-size: 16px;
    border-right: 0px;
}

.topbar .topbar-btn:hover{
    background: #1abc9c none repeat scroll 0 0;
}

.topbar .topbar-text{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
}
/* body */

.dashboard-body{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}


.sidebar-full .main{
    left: 150px;
}

.main{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right:0;
    padding: 10px;
    width: auto;
    overflow-y:auto;
}

/* sidebar */
.sidebar{
	position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    overflow-x: hidden;
    background-color: #293038;
    color: #ffffff;
}

.sidebar-full .sidebar{
    width: 150px;
}

.sidebar .menu-header{
    background: #394555 none repeat scroll 0 0;
    color: #aeb9c2;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.sidebar .menu-header i{
    display: block;
    height: 30px;
    line-height: 32px;
}

.sidebar-full .sidebar .menu-header i.mini-header{
    display: none;
}

.sidebar .menu-header i.full-header{
    display: none;
}

.sidebar-full .sidebar .menu-header i.full-header{
    display: block;
}

.sidebar ul.menu{
    padding-left: 0;
}

.sidebar .menu li{
    list-style: none;
    transition:all 0.12s ease 0s, all 0.12s ease 0s;
}

.sidebar .menu li a {
    color: #aeb9c2;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.sidebar .menu li a i{
    float: left;
    font-size: 28px;
    width:50px;
    height: 50px;
    line-height: 50px;
}

.sidebar .menu li a span{
    float: left;
    display: none;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.sidebar-full .sidebar .menu li a span{
    display: block;
}

.sidebar .menu li:hover, .sidebar .menu li.on{
    background: #37424f none repeat scroll 0 0;
}

.sidebar .menu li:hover a, .sidebar .menu li.on a {
    color: #ffffff;
}

/* main public */
.dashboard-title{
    background: #f5f5f5 none repeat scroll 0 0;
    border-left: 2px solid #16a085;
    font-size: 14px;
    font-weight: normal;
    height: 54px;
    line-height: 30px;
    padding: 10px;
}

.dashboard-title a{
    color: #16a085;
}


.dashboard-title a:hover{
    color: #1abc9c;
}

.dashboard-section{
    margin-top: 20px;
}

table.dashboard-table{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e6eb;
}

table.dashboard-table > thead > tr > th{
    background-color: #f5f5f5;
}


table.dashboard-table > thead > tr > th,  table.dashboard-table > tbody > tr > td, table.dashboard-table > tfoot > tr > td{
    border-bottom: 1px solid #e1e6eb;
}

.dashboard-row{
    margin-bottom: 20px;
}

.dashboard-row:before, .dashboard-row:after{
    clear: both;
}

.dashboard-row .row-label{
    float: left;
}


/* Home */

/*category*/
.dashboard-small-label .dashboard-row .row-label{
    width: 90px;
    padding-right: 10px;
    min-height: 34px;
    line-height: 34px;
    text-align: right;
}

.dashboard-small-label .dashboard-row .row-item{
    margin-left: 90px;
    min-height: 34px;
}